<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" type="text/css" media="all"
	href="../css/soguheimur.css" th:href="@{/css/soguheimur.css}" />

<title th:text="#{browse.title}">Browse</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>
	<div th:if="${success == false}">
		<p th:text="#{viewStory.nostory}">No such story</p>
	</div>
	<div th:if="${success == true}">
		<p th:text="${pub.title}">The title of the story</p>
		<p th:text="${pub.text}">The text of the story</p>
	</div>
</body>

</html>