<!DOCTYPE html>

<!--  
 Displayed after you follow the link from your log in page.
 -->
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
<title>Browse</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../css/soguheimur.css" th:href="@{/css/soguheimur.css}" />

</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div th:replace="fragments/link :: link">&nbsp;</div>

	<table style="width: 50%;">
		<tr>
			
			<th>Title</th>
			<th>Date</th>
			<th>Likes</th>
			<th>Author</th>


		</tr>
		<tr th:each="story : ${pub}">
			<td>
				<a th:href="@{'/browse?id=' + ${story.id}}" th:text="${story.title}" id="table"></a> 
			</td>
			<td th:text="${#dates.format(story.date, 'dd-MMM-yy')}">My story</td>
			<td th:text="${story.rating}">My story</td>
			<td th:text="${story.user.email}">My story</td>

		</tr>
	</table>

</body>

</html>