<!DOCTYPE html>
<!-- Authors:  
	Hrafnhildur Olga Hjaltadóttir hoh44@hi.is
	File that holds the header for the other sites.
-->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Link</title>
	<link rel="stylesheet" type="text/css" media="all"
	href="../../../css/soguheimur.css"
	th:href="@{../../../css/soguheimur.css}" />
</head>
<body>
	<div class="test" th:fragment="link">
		<nav>
          <ul sec:authorize="isAuthenticated()">
          	
          		<li><a href="/" th:text="#{link.HomePage}">HomePage</a></li>
            	<li><a href="/login" th:text="#{login.title}">Log In</a></li>
            	<li><a href="/usr/homePage" th:text="#{link.Home}">Home</a></li>
            	<li>
            		<form action="#" th:action="@{/logout}" method="post" id="logoutForm">
      					<input type="submit" id="logout" value="Útskráning" />
      				</form>
            	</li>
            
          </ul>
          <ul sec:authorize="isAnonymous()">
          	
          		<li><a href="/" th:text="#{link.HomePage}">HomePage</a></li>
            	<li><a href="/login" th:text="#{login.title}">Log In</a></li>
            	<li><a href="/browse" th:text="#{link.Stories}">Stories</a></li>
            
          </ul>
        </nav>
      </div>
</body>
</html>