<!DOCTYPE html>
<!-- Authors: 
	Hrafnhildur Olga Hjaltadóttir hoh44@hi.is
	Main homepage of the site
-->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<link rel="stylesheet" type="text/css" media="all"
	href="../css/soguheimur.css" th:href="@{/css/soguheimur.css}" />
<title th:text="#{login.title}">Login page</title>
</head>
<body>
	
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div th:replace="fragments/homeLink :: link">&nbsp;</div>
	
	<h1 th:text="#{homepage.welcome}">Welcome</h1>
	
	<p th:text="#{homepage.info1}">Info</p>
	<p th:text="#{homepage.info2}">Info</p>
	<p th:text="#{homepage.info3}">Info</p>

</body>
</html>

