<!DOCTYPE html>

<!-- 
 * Authors:
 * Ásgerður Inna aia11@hi.is
 * Hrafnhildur Olga hoh44@hi.is
 * Ólafur Konráð oka4@hi.is
 * Steina Dögg sdv6@hi.is
 
 Page displayed when something goes wrong.
 -->
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
 

<body>

<h1>
<span th:text="#{error.message}">Eitthvað fór úrskeiðis! Vinsamlegast reynið aftur</span><br/>
    <p th:text="|HTTP ${attributes.status} ${attributes.error}|"></p>
    <p th:text="${attributes.message}"></p>
</h1>

</body>

</html>