<!DOCTYPE html>

<!-- 
 * Authors:
 * Ásgerður Inna aia11@hi.is
 * Hrafnhildur Olga hoh44@hi.is
 * Ólafur Konráð oka4@hi.is
 * Steina Dögg sdv6@hi.is
 
 Dynamic page showing previously submitted title string.
 -->

<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />

<head>
    <title>
    	<p><span th:text="#{submSuccess.Title}">Ný Saga</span><br/></p>
    </title>
    <link rel="stylesheet" type="text/css" media="all"
	href="../../../css/soguheimur.css"
	th:href="@{../../../css/soguheimur.css}" />
</head>
<body>

<h1>
	<span th:text="#{submSuccess.conformation}">Sagan hefur verið send inn!</span><br/>
</h1>

<div>
		<a href="/usr/homePage">Halda áfram á heimasíðu</a>
	</div>

</body>

</html>