* { margin: 0; padding: 0; box-sizing: border-box; }

body{
    background: #95E5E5;
    font-family: 'Gentium Book Basic', serif;
}

img{
  width: 100%;
  height: auto;
}

header {
  background-image: url("bgsmasogur.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  min-height: 500px;
  padding: 4em 2em 2em 200px;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: auto;
  font-family: 'Gentium Book Basic', serif;
  font-size: 20px;
  font-weight: bold;
  color: #2A4040;
  text-align: right;
  text-shadow: 0.5px 0.5px #fafafa;
}

h1{
  margin: 5px;
  padding: 5px;
  padding-left: 10%;
  padding-right: 10%;
  color: #2A4040;
}

header p{
  font-size: 15px;
  font-style: italic;
  line-height: 150%;
  margin: 0 0 20px 0;
  padding: 0 0 0 40px;
  width: calc(50%);
  float: right;
}

header .space{
  float: right;
}

blockquote{
  font-size: 15px;
  font-style: italic;
  line-height: 150%;
  margin: 0 0 20px 0;
  padding: 0 0 0 40px;
  width: calc(50%);
  float: right;
}

main{
  background-color: #95E5E5;
  color: #2A4040;
}

h1{
  margin: 5px;
  padding: 5px;
  padding-left: 10%;
  padding-right: 10%;
  color: #2A4040;
}

p {
   margin: 10px;
   padding: 10px;
   padding-left: 15%;
   padding-right: 15%;
   font-size: 20px;
   color: #2A4040;
}

span {
   margin: 10px;
   padding: 10px;
   padding-left: 15%;
   padding-right: 15%;
   font-size: 20px;
   color: #2A4040;
}

table {
   width: 80%;
   margin: 10px;
   padding: 50px;
   padding-left: 15%;
   padding-right: 15%;
   font-size: 20px;
   color: #2A4040;
   border-collapse: collapse;
}

th, td{
   padding-left: 15%;
   padding-right: 15%;
   display: inline;
   font-size: 20px;
   color: #2A4040;
}

label {
   font-size: 20px;
   color: #2A4040;
}

form {
   margin: 10px;
   padding: 10px;
   padding-left: 15%;
   padding-right: 15%;
   font-size: 20px;
}

fieldset{
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}

#title {
  width: 250px;
  height: 40px;
  border: 2px solid #2A4040;
  border-radius: .2625em;
  margin: 10px;
  padding: 10px;
  font-family: 'Gentium Book Basic', serif;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #7DBFBF;
  display: inline-block;
  font-size: 16px;
  color: #2A4040;
}

input{
  width: 250px;
  height: 40px;
  border: 2px solid #2A4040;
  border-radius: .2625em;
  margin: 10px;
  padding: 10px;
  font-family: 'Gentium Book Basic', serif;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #7DBFBF;
  display: inline-block;
  font-size: 16px;
  color: #2A4040;
}

em{
  font-size: 10p
}

select {
  margin: 10px;
  padding: 10px 10px;
  font-size: 15px;
  background-color: #95E5E5;
  border: 2px solid #2A4040;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #2A4040;
}

textarea {
  width: 1000px;
  height: 1200px;
  border: 1px solid #2A4040;
  border-radius: .2625em;
  padding: 5px;
  font-family: 'Gentium Book Basic', serif;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #95E5E5;
}

button{
  width: 100px;
  height: 40px;
  border: 1px solid #2A4040;
  border-radius: .2625em;
  box-shadow: 0 .375em .313em -0.313em rgba(0,0,0,.8), inset 0 .063em rgba(255,255,255,.4), inset 0 -0.188em rgba(0,0,0,.15);
  margin: 10px;
  padding: 10px;
  font-family: 'Gentium Book Basic', serif;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #95E5E5;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  color: #2A4040;
}

button:hover {
  background-color: #2A4040;
  color: #95E5E5;
  box-shadow: 0 .125em rgba(255,255,255,.4), inset 0 .063em rgba(255,255, 255,.4), inset 0 -0.188em #0D331A;
}

a {
   margin: 10px;
   padding: 10px;
   padding-left: 15%;
   padding-right: 15%;
   font-size: 20px;
   color: #2A4040;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #287070;
    box-shadow: 0 .125em rgba(255,255,255,.4), inset 0 .063em rgba(255,255, 255,.4), inset 0 -0.188em #2A4040;
}

li {
    float: left;
    padding-left: 5%;
    /*padding-right: 15%;*/
}

li a {
    display: block;
    color: #7DBFBF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Gentium Book Basic', serif;
    font-size: 20px;
}

li a:hover {
    background-color: #A6FFFF;
    color: #2A4040;
    box-shadow: 0 .125em rgba(255,255,255,.4), inset 0 .063em rgba(255,255, 255,.4), inset 0 -0.188em #7DBFBF;
}