<!DOCTYPE html>
<!-- Authors: 
	Steina Dögg sdv6@hi.is 
	Hrafnhildur Olga Hjaltadóttir hoh44@hi.is
	Single template for login and login-error
-->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<link rel="stylesheet" type="text/css" media="all"
	href="../css/soguheimur.css" th:href="@{/css/soguheimur.css}" />
<title th:text="#{login.title}">Login page</title>
</head>
<body>
	<header>
      <section class="Saga">
        <h1>Söguheimur</h1>
          <p>
            Deildu verkum þínum hér, sögum, ljóðum, leikritum eða hugleiðingum.
          </p>
          <div class="space">
            <blockquote class="quote2">
              “Stories you read when you're the right age never quite leave you. You may forget who wrote them or what the story 
              	was called. Sometimes you'll forget precisely what happened, but if a story touches you it will stay with you, 
              	haunting the places in your mind that you rarely ever visit.”
              <footer class="quote-footer2">— <cite class="quote2">Neil Gaiman, M Is for Magic</cite></footer>
            </blockquote>
          </div>
          <div class="space">
            <blockquote class="quote1">
              “Writing is something you do alone. Its a profession for introverts who want to tell you a story 
              	but don't want to make eye contact while doing it."
              <footer class="quote-footer1">— <cite class="quote1">John Green</cite></footer>
            </blockquote>
          </div>
      </section>
    </header>

	
	<h1 th:text="#{login.title}">Login page</h1>

	<p th:if="${loginError}" th:class="error" th:utext="#{login.incorrect}">Wrong user or password</p>
	<form th:action="@{/login}" method="post">
		<label for="username" th:text="#{login.userName}">Username</label>: <input
			type="text" id="username" name="username" autofocus="autofocus" /> <br />
		<label for="password" th:text="#{login.password}">Password</label>: <input
			type="password" id="password" name="password" /> <br />
		<button type="submit" name="Log in" th:text="#{login.loginButton}">Log
			In</button>
	</form>

	<div>
		<form action="#" th:action="@{/login}" method="post">
			<input type="submit" value="Logout" />
		</form>
	</div>

	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

	<div>
        <nav>
          <ul>
            <li><a href="/usr/homepage">Aftur á forsíðu</a></li>
            <li><a href="/browse">Skoða sögur</a></li>
          </ul>
        </nav>
      </div>
	

</body>
</html>

