<!DOCTYPE html>
<!-- Authors: 
	Steina Dögg sdv6@hi.is 
	Hrafnhildur Olga Hjaltadóttir hoh44@hi.is
	Single template for login and login-error
-->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<link rel="stylesheet" type="text/css" media="all"
	href="../css/soguheimur.css" th:href="@{/css/soguheimur.css}" />
<title th:text="#{login.title}">Login page</title>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div th:replace="fragments/link :: link">&nbsp;</div>

	
	<h1 th:text="#{login.title}">Login page</h1>

	<p th:if="${loginError}" th:class="error" th:utext="#{login.incorrect}">Wrong user or password</p>
	<form th:action="@{/login}" method="post">
		<label for="username" th:text="#{login.userName}">Username</label>: <input
			type="text" id="username" name="username" autofocus="autofocus" /> <br />
		<label for="password" th:text="#{login.password}">Password</label>: <input
			type="password" id="password" name="password" /> <br />
		<button type="submit" name="Log in" th:text="#{login.loginButton}">Log
			In</button>
	</form>
	
	<p th:text="#{link.NewAccount}">New Account</p>
	<a href="/register" th:text="#{link.Register}">Register</a> 
	

	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	

</body>
</html>

