<!DOCTYPE html>
<!-- Authors: 
	Steina Dögg Vigfúsdóttir sdv6@hi.is 
	Registration form
-->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<link rel="stylesheet" type="text/css" media="all"
		href="../css/soguheimur.css" th:href="@{/css/soguheimur.css}" />
	<title th:text="#{register.title}">Login page</title>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div th:replace="fragments/link :: link">&nbsp;</div>
	
	<h1 th:text="#{register.title}">Login page</h1>
	
	<form th:action="@{/register}" method="post" th:object="${user}">
	<table id="register">
	<tr>
		<td id="register" th:text="#{register.email}">E-mail:</td>
		<td id="register"><input type="text" th:field="*{email}" /></td>
	</tr>
	<tr>
		<td id="register" th:text="#{register.password}">Password:</td>
		<td id="register"><input type="password" th:field="*{passwordHash}" /></td>
	</tr>
	<tr>
		<td id="register">
		<button type="submit" name="Register" th:text="#{register.registerButton}">Register</button></td>
	</tr>
	<tr>
	<td th:if="${success}" th:text="#{register.success}">Registration success</td>
	</tr>
	
	</table>
	</form>

</body>
</html>

