<!DOCTYPE html>

<!--  
 Displayed after you follow the link from your log in page.
 -->
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
<title>Heimasvæðið þitt</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../css/soguheimur.css" th:href="@{/css/soguheimur.css}" />

</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div th:replace="fragments/link :: link">&nbsp;</div>

	<h1>Heimasvæðið þitt</h1>
	<div>
		<a href="/compose/newStory">Senda inn sögur</a>
	</div>
	<div>
		<p>Listi af sögum.</p>
	</div>


	<table>
		<tr>
			<th>Title</th>
			<th>Date</th>
			<th>Likes</th>

		</tr>
		<tr th:each="story : ${stories}">
			<td>
				<a th:href="@{'/compose/edit?id=' + ${story.id}}" th:text="${story.title}">My story</a> 
			</td>
			<td th:text="${#dates.format(story.date, 'dd-MMM-yy')}">My story</td>
			<td th:text="${story.rating}">My story</td>
		</tr>
	</table>

</body>

</html>