<!DOCTYPE html>

<!-- 
 * Authors:
 * Ásgerður Inna aia11@hi.is
 * Hrafnhildur Olga hoh44@hi.is
 * Ólafur Konráð oka4@hi.is
 * Steina Dögg sdv6@hi.is
 
 Dynamic page showing previously submitted name string.
 -->

<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
    <title>Velkomin!</title>
</head>
<body>

<h1>Takk fyrir nýskráninguna.}</h1>

<div>
	<p>Má bjóða þér að halda áfram á <a href="/soguheimur/homePage">heimasvæðið þitt</a>?</p>
</div>

</body>

</html>